body {
    background-color: #443f3f;
}

/* Header */

#Header h1{
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 130px;
    color: rgb(18, 214, 214);
}


/* Content */

#Content table{
    text-align: center;
    margin: auto;
}

#Content td{
    padding: 40px;
    font-size: 20px;
    font-style: italic;
    color: rgb(18, 214, 214);
}

.parent{
    display: flex;
    justify-content: center;
    align-items:center
}

#button{
    width: 100px;
    height: 50px;
    border-radius:18%;
    background-color: rgb(18, 214, 214);
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}
